*{
    margin: 0;
    padding: 0;
}
html{ font-size: calc(8px+1vw)}
.container{
    padding: 0 5%;
}
header{
    background-image: url(./foto/bg.png) center no-repeat;
    background-size: cover;
    height: 500px;
}